/*** VARIABLES */
:root{
    --blanco: #ffffff;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
    --oscuro: #212121;
}
/*** FIN DE VARIABLES ***/

/*=======================*/

/*** GENERALES ***/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
	font-size: 62.5%;
}

body{
	font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
/*** FIN DE GENERALES***/

/*===================*/

/*** TITULO ***/
.tittle{
    display: block;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    margin: 0;
}

@media (max-width: 376px){
    .tittle{
        line-height: .71;
        margin: 4px auto;
    }
}

.tittle span{
    font-weight: 100;
    font-size: 3rem;
}
/*** FIN DE TITULO***/

/*-=================*/

/*** NAVEGADOR ***/
nav {
    display: block;
    background-color: var(--secundario);
    margin: 0%;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    margin: 0%;
    align-items: center;
    padding: 0;
}

body{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 30%, rgba(6,206,228,1) 100%);
}

.nav__item{
    list-style: none;
    padding: 1rem 1rem;
    text-transform: uppercase;
}

.nav__item a{
    text-decoration: none;
    color: var(--blanco);
    font-weight:700;
    padding: .8rem 1rem;
    font-size: 1.7rem;
}

/*MouseOnly del nav*/
@media (hover: hover){
    .nav__item:hover{
        background-color: var(--primario);
    }
    .nav__item:hover> a {
        color: var(--oscuro);
    }
}

/*Pseudoclase active del nav*/
.nav__item a:active{
    background-color: var(--primario);
    color: var(--oscuro);
}

/*MQ del nav*/
@media (max-width: 650px){
    nav ul{
        flex-direction:column;
        display: block;
    }

    .nav__item a, .nav__item{
        padding: .5rem;
        text-align: center;
        display: block;
        margin: 0;
    }

    .nav__item{
        padding: 0;
    }

}
/*** FIN DEL NAVEGADOR ***/

/*==================*/

/*** HEADER ***/
header{
    background-image:url(../src/hero.jpg);
    height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

/*MQ del tamaño del header*/
@media (max-width: 480px){
    header{
        height: 25rem;
    }
}

@media (max-width: 280px){
    header{
        height: 29rem;
    }
}

.header__decoracion{
    background-color: rgba(1, 1, 1, 0.685);
    position: absolute;
    width: 100%;
    height: 100%;
}

.header__contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.header__tittle{
    font-size: 3.2rem;
    color: var(--blanco);   
}

.header__ubi{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header__ubi hr{
    width: 75%;
}

.header__ubi i{
    font-size: 7rem;
    transition: .2s;
}

.header__ubi h3{
    margin: 0;
    font-size: 2rem;
}

.header__item{
    color: var(--blanco);
    text-align: center;
}

header hr{
    text-decoration: none;
    color: var(--blanco);
    border: solid var(--blanco) 5px;
    background-color: var(--blanco);
}

.header__btn{
    text-decoration: none;
    color: var(--blanco);
    font-size: 2rem;
    background-color: var(--secundario);
    padding: 1rem 2rem;
    border-radius: 10px;
    font-weight: 700;
}

.header__btn:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}

@media (max-width: 650px){
    .header__btn{
        display:block;
        width: 90vw;
    }
}

/*:Hover mouse Only + :hover que modifica elemento interno*/
@media (hover: hover){
    .header__decoracion:hover > .header__contenido .header__ubi i{
        color: var(--primario);
        transition: ease-in-out .2s;
        transform: translateY(-20px);
    }
}
/***FIN DEL HEADER***/ 

/*=================*/

/***DEFINICION DEL MAIN***/
main{
        background-color: var(--blanco);
        margin: 3rem 10rem;
        border-radius: 1.5rem;
}

main h2{
    font-size: 3.2rem;
    display: block;
    text-align: center;
    padding-top: 3rem;
    color: var(--oscuro);
    text-transform: uppercase;
}

.servicios{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
        margin: 3rem;
}
.servicios__item{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
     gap: 2rem;
     margin: 3rem 0;
     height: 25rem;
}

.servicios__item h3{
     font-size: 2rem;
     color: var(--secundario);
}

.servicios__item div{
     background-color: var(--primario);
     height: 10rem;
     width: 10rem;
     font-size: 3rem;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 50%;
}

.servicios__item p{
    text-align: justify;
}


#moviles{
    justify-content: space-around;
}

@media (max-width: 910px){
    .servicios{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
    .servicios__item{
        margin: 0;
    }
    main{
        margin: 3rem;
    };
}








/*
[X]Investigar el hover compuesto
[X]Añadir MQ para el titulo cuando se hace pequeño
[X]Hacer el diseño responsive (nav)
[X]Limpiar la chapuza del MQ del nav o volverlo a hacer (Mejor)
[X]Cambiar el tamaño de la chincheta para tamaños moviles (Ya que no se va  mover no necesita tanto hueco) (Hacer mas pequeño el container)
[X]Hacer el nav modo Mouse only
[ ]Pasar a limpio el hover compuesto (Notion)
[ ]Pasar a limpio el hover mouseOnly (Notion)
[ ]Hacer active la chincheta
[ ]Hacer el main y rellenarlo
[X]Revisar el hover del nav, creo que se desborda por arriba
*/

